.vehicle
{
    display:inline-block;
    margin: 10px;
    box-shadow:0 5px 10px rgb(60,2,114);
    padding: 0 20px 10px 20px;
    background-color: burlywood;
    max-width:23%;
    color:black;
    text-align: left;


}